<!-- <p>registration works!</p> 
<div class="container">
    <h1>
        User registration
    </h1>
    <form #myform="ngForm" (ngSubmit)="onUpdate()" novalidate>
    <div class = "form-group">
        <label for="firstname">FirstName</label><br>
        <input type="text"  [(ngModel)]="people.firstName" name = "firstname" class="form-control" ngmodel >
    
    </div>
    <pre></pre>
    <div class = "form-group">
        <label for="lastname">LastName</label><br>
        <input type="text" [(ngModel)]="people.lastName" name = "lastname" class="form-control" ngModel>
       
    </div>
    <pre></pre>
    <div class = "form-group">
        <label for="email">Email</label><br>
        <input type="text" [(ngModel)]="people.email" name = "email" class="form-control" ngModel >
       
    </div>
    <pre></pre>
    <div class = "form-group">
        <label for="age">Age</label><br>
        <input type="number" [(ngModel)]="people.age" name = "age" class="form-control" ngModel>
        
    </div>
    <pre></pre>
   
     <button class="btn btn-primary" type="submit">submit</button>
</form>
</div> -->
<div class="container">

    <h1>User Registration</h1>

    <form>

        <div class="form-group">

            <label for="firstname">FirstName</label><br>

            <input type="text" name="firstname" class = "form-control" ngModel>

        </div>

        <pre></pre>

        <div class="form-group">

            <label for="lastname">LastName</label><br>

            <input type="text" name="lastname" class = "form-control"    ngModel>

        </div>

        <pre></pre>

        <div class="form-group">

            <label for="email">EmailID</label><br>

            <input type="text" name="email" class = "form-control" ngModel>

        </div>

        <pre></pre>

        <div class="form-group">

            <label for="password">Password</label><br>

            <input type="text" name="password" class = "form-control" ngModel>

        </div>

        <pre></pre>

        <button class="btn btn-primary" type="submit">Submit</button>

    </form>

